<div>
  <h1 class="font-bold text-4xl">OverdueRanges#index</h1>
  <div class="bg-white rounded-md shadow-sm border border-gray-200 w-1/3">
    <div class="p-4">
      <div class="flex justify-between items-center mb-3">
        <h2 class="text-lg font-medium text-gray-700">Faixas de atraso</h2>
        <%= link_to "ver todas..",
        company_overdue_ranges_path(@company),
        class: "text-sm text-yellow-600 hover:underline" %>
        <%= link_to "+ Adicionar nova faixa",
        new_company_overdue_range_path(@company),
        class: "text-sm text-yellow-600 hover:underline",
        title: "Nova faixa" %>
      </div>

      <table class="w-full text-sm text-left text-gray-700">
        <thead>
          <tr class="bg-gray-100 text-xs uppercase text-gray-500 border-b">
            <th class="px-4 py-2">Descrição</th>
            <th class="px-4 py-2 text-right">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @overdue_ranges.each do |range| %>
            <tr class="border-b hover:bg-gray-50">
              <td class="px-4 py-2"><%= range.name %></td>
              <td class="px-4 py-2 text-right">
                <%= link_to "Editar",
                edit_company_overdue_range_path(@company, range),
                class: "text-sm text-blue-600 hover:underline" %>
                <% if range.active? %>
                  <%= button_to "Inativar",
                        deactivate_company_overdue_range_path(@company, range),
                        method: :patch,
                        data:   { confirm: "Tem certeza?" },
                        class:  "text-red-600" %>
                <% else %>
                  <%= button_to "Ativar",
                      activate_company_overdue_range_path(@company, range),
                      method: :patch,
                      class:  "text-green-600" 
                    %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
