<h1 class="text-xl font-bold mb-4">Detalhes da Fatura</h1>
<div class="mt-6 flex justify-between">
  <%= link_to t("Renegociar"), choose_profile_path, class: "btn-primary" %>

  <%= link_to "Editar",
  edit_company_profile_invoice_path(@company, @profile, @invoice),
  class: "btn btn-primary" %>
</div>

<div class="mb-4">
  <p><strong>Data de emissão:</strong>
    <%= @invoice.issued_date.strftime("%d/%m/%Y") %></p>
  <p><strong>Vencimento:</strong>
    <%= @invoice.due_date.strftime("%d/%m/%Y") %></p>
  <p><strong>Status:</strong>
    <%= @invoice.invoice_status.name.titleize %></p>
  <p><strong>Valor total:</strong>
    R$
    <%= number_to_currency(
      @invoice.total_amount,
      unit: "",
      separator: ",",
      delimiter: ".",
    ) %></p>
</div>

<h2 class="text-lg font-semibold mt-6 mb-2">Itens da Fatura</h2>
<table class="table-auto w-full text-left">
  <thead>
    <tr class="bg-gray-100">
      <th class="px-4 py-2">Descrição</th>
      <th class="px-4 py-2">Quantidade</th>
      <th class="px-4 py-2">Preço Unitário</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice.invoice_items.each do |item| %>
      <tr class="border-b">
        <td class="px-4 py-2"><%= item.description %></td>
        <td class="px-4 py-2"><%= item.quantity %></td>
        <td class="px-4 py-2">R$
          <%= number_to_currency(item.unit_price, unit: "", separator: ",", delimiter: ".") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
