<div class="w-full max-w-4xl mx-auto px-4 py-8">
  <h2 class="text-2xl font-bold text-center mb-6"><%= t("choose_your_profile") %></h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <% customer_profile =
      @profiles.select { |p| p.profile_type.name == "customer" }.first %>
    <% employee_profiles =
      @profiles.select { |p| p.profile_type.name == "employee" }.sort_by(&:id) %>
    <% admin_profiles =
      @profiles.select { |p| p.profile_type.name == "administrator" }.sort_by(&:id) %>

    <%= render "shared/profile_card",
    icon_bg: "bg-gold",
    extra_icon_bg_class: "",
    icon_color: "text-white",
    icon_size_in_px: "48",
    icon_name: "person",
    title: t("customer_profile_description"),
    description: "Visualizar pendencias",
    path: customer_dashboard_path,
    hint: t("customer_profile_description"),
    profile_id: customer_profile&.id,
    is_default_profile: customer_profile&.default_profile %>

    <% if employee_profiles.any? %>
      <% employee_profiles.each do |employee_profile| %>
        <%= render "shared/profile_card",
        icon_bg: "bg-white",
        extra_icon_bg_class: "",
        icon_color: "text-black",
        icon_size_in_px: "48",
        icon_name: "business_center",
        title: employee_profile.company.name.upcase,
        description: t("employee_profile_description"),
        path: root_path,
        hint: t("employee_profile_hint"),
        profile_id: employee_profile.id,
        is_default_profile: employee_profile.default_profile %>
      <% end %>
    <% end %>

    <% if admin_profiles.any? %>
      <% admin_profiles.each do |admin_profile| %>
        <%= render "shared/profile_card",
        icon_bg: "bg-white",
        extra_icon_bg_class: "",
        icon_color: "text-gold",
        icon_size_in_px: "48",
        icon_name: "crown",
        title: admin_profile.company.name.upcase,
        description: t("admin_profile_description"),
        path: root_path,
        hint: t("admin_profile_hint"),
        profile_id: admin_profile.id,
        is_default_profile: admin_profile.default_profile %>
      <% end %>
    <% end %>

    <% if employee_profiles.empty? && admin_profiles.empty? %>
      <%= render "shared/profile_card",
      icon_bg: "bg-blue-300",
      extra_icon_bg_class: "",
      icon_color: "text-black",
      icon_size_in_px: "48",
      icon_name: "add_business",
      title: t("register_new_company"),
      description: t("register_new_company_description"),
      path: modal_new_companies_path(format: :html),
      hint: t("register_new_company_description"),
      profile_id: 0,
      is_default_profile: false,
      open_in_modal: true %>
    <% end %>
  </div>

  <div class="mt-8 flex justify-between relative">
    <div class="flex-1">
      <div class="flex justify-center">
        <%= link_to modal_new_companies_path(format: :html),
        data: {
          turbo_frame: "modal-frame",
          action: "turbo:frame-load->modal#open",
        } do %>
          <button class="btn-primary shadow">
            <%= t("create_new_profile_or_company") %>
          </button>
        <% end %>
      </div>
    </div>

    <%= link_to destroy_user_session_path,
            data: { "turbo-method": :delete } do %>
      <button class="btn-primary shadow flex items-center gap-2">
        <%= t("log_out") %>
        <i class="material-symbols-outlined">logout</i>
      </button>
    <% end %>
  </div>

  <%= render "shared/modal" %>
</div>
