<div class="session-box">
  <%= form_with model: @company, local: true do |form| %>
    <% if @company.errors.any? %>
      <div
        class="
          bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb4
        "
      >
        <h2 class="font-bold"><%= pluralize(@company.errors.count, "error") %>
          prohibited this company from being saved:</h2>
        <ul class="list-disc pl-5">
          <% @company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field field-input-container">
      <%= form.label :name %>
      <%= form.text_field :name, class: "input-primary" %>
    </div>

    <div class="field field-input-container">
      <%= form.label :email %>
      <%= form.email_field :email, class: "input-primary" %>
    </div>

    <div class="field field-input-container">
      <%= form.label :address %>
      <%= form.text_field :address, class: "input-primary" %>
    </div>

    <div class="field field-input-container">
      <%= form.label :zip_code %>
      <%= form.text_field :zip_code, class: "input-primary" %>
    </div>

    <div class="field field-input-container">
      <%= form.label :city %>
      <%= form.text_field :city, class: "input-primary" %>
    </div>

    <div class="field field-input-container">
      <%= form.label :state %>
      <%= form.text_field :state, class: "input-primary" %>
    </div>

    <div class="field field-input-container">
      <%= form.label :country %>
      <%= form.text_field :country, class: "input-primary" %>
    </div>

    <div class="field field-checkbox-container">
      <%= check_box_tag :default_profile, "true", false %>
      <%= label_tag :default_profile, "Set as default profile?" %>
    </div>

    <div class="mt-4">
      <%= form.submit "Create Company",
                  class: "btn-primary",
                  data: {
                    action: "click->modal#closeOnForms",
                  } %>
    </div>
  <% end %>
</div>
