<!-- _progress_bar_group.html.erb -->
<div class="bg-yellow-400 rounded-lg shadow p-6 relative">
  <a href="#" class="absolute top-4 right-4">
    <i class="material-symbols-outlined">open_in_new</i>
  </a>
  
  <h2 class="text-lg font-medium mb-4"><%= title %></h2>
  
  <div class="space-y-3">
    <% if bars.is_a?(Hash) %>
      <% bars.each do |range, stats| %>
        <div class="flex items-center">
          <div class="w-20 text-sm"><%= range.name %></div>
          <div class="flex-1 bg-gray-200 rounded-full h-4 mx-2">
            <div class="bg-black h-4 rounded-full" style="width: <%= stats[:percent] %>%"></div>
          </div>
          <div class="text-sm font-medium w-8 text-right"><%= stats[:percent] %>%</div>
        </div>
      <% end %>
    <% else %>
      <% bars.each do |bar| %>
        <div class="flex items-center">
          <div class="w-20 text-sm"><%= bar[:label] %></div>
          <div class="flex-1 bg-gray-200 rounded-full h-4 mx-2">
            <div class="bg-black h-4 rounded-full" style="width: <%= bar[:percentage] %>%"></div>
          </div>
          <div class="text-sm font-medium w-8 text-right"><%= bar[:percentage] %>%</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
