<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Billing Jean" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    >

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-content-container">
        <div class="navbar-column navbar-col-1">
          <h1 class="text-black"><%= t("wellcome") %></h1>
        </div>

        <div class="navbar-column navbar-col-2">
          <input
            type="text"
            name="search_customer"
            placeholder="<%= t("search_customer") %>"
            class="navbar-search"
          />
          <i class="material-icons">search</i>
        </div>

        <div class="navbar-column navbar-col-3">
          <i class="material-icons">account_circle</i>
        </div>
      </div>
    </nav>

    <div class="body-content">
      <div class="sidebar">
        <%= link_to root_path, class: "sidebar-logo" do %>
          <i class="material-icons text-[var(--color-gold)]">paid</i>
          <h1 class="sidebar-logo-text">Billin' Jean</h1>
        <% end %>

        <%= link_to "English", url_for(locale: "en") %>
        <%= link_to "Português", url_for(locale: "pt") %>

        <%= link_to root_path, title: "Ir ao Dashboard" do %>
          <i class="material-icons text-[var(--color-gold)]">space_dashboard</i>
        <% end %>

        <div class="divider-horizontal"></div>

        <div>
          <%= link_to root_path do %>
            <i class="material-icons">account_circle</i>
          <% end %>
          <p><%= current_user.first_name %></p>
          <p><%= current_user.email %></p>
        </div>

        <div class="divider-horizontal"></div>

        <%= link_to root_path do %>
          <i class="material-icons">settings</i>
        <% end %>

        <%= link_to destroy_user_session_path, data: { "turbo-method": :delete } do %>
          <i class="material-icons">logout</i>
        <% end %>
      </div>

      <main class="content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
