<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Billing Jean" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    >

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="toasts" class="toast-container">
      <% flash.each do |type, message| %>
        <% type_str = type.to_s %>
        <% type_class =
          case type_str
          when "notice"
            "info"
          when "alert"
            "error"
          when "warning"
            "warning"
          when "success"
            "check_circle"
          else
            "info"
          end %>

        <%= render partial: "shared/toast",
        locals: {
          message: message,
          icon: type_class,
          show_undo: (type_str == "notice"),
        } %>
      <% end %>
    </div>

    <nav class="navbar">
      <div class="navbar-content-container">
        <div class="navbar-column navbar-col-1">
          <h1 class="text-black"><%= t("welcome") %></h1>
        </div>

        <div class="navbar-column navbar-col-2">
          <div class="relative inline-block">
            <input
              type="text"
              name="search_customer"
              placeholder="<%= t("search_customer") %>"
              class="navbar-search pr-10"
            />
            <i class="material-icons absolute right-2 top-1/2 transform -translate-y-1/2">search</i>
          </div>
        </div>

        <div class="navbar-column navbar-col-3 flex items-center space-x-4">
          <div>
            <%= link_to t("switch_profile"), choose_profile_path %>
          </div>
          <i class="material-icons text-4xl">account_circle</i>
          <p><%= current_user.first_name %></p>
        </div>
      </div>
    </nav>

    <div class="body-content">
      <div class="sidebar">
        <%= link_to root_path, class: "sidebar-logo" do %>
          <i class="material-icons text-[var(--color-gold)]">paid</i>
          <h1 class="sidebar-logo-text">Billin' Jean</h1>
        <% end %>

        <%= link_to root_path, title: "Ir ao Dashboard", class: "flex items-center gap-2 text-white hover:text-[var(--color-gold-hover)]" do %>
          <i class="material-icons text-[var(--color-gold)]">space_dashboard</i>
          <p>Dashboard</p>
        <% end %>

        <div class="divider-horizontal"></div>

        <div class="flex items-center gap-2 mb-4">
          <%= link_to root_path do %>
            <i class="material-icons text-5xl">account_circle</i>
          <% end %>
          <div>
            <p class="leading-tight"><%= current_user.first_name %></p>
            <p class="text-sm text-gray-400 leading-tight"><%= current_user.email %></p>
          </div>
        </div>

        <div class="divider-horizontal"></div>

        <%= link_to root_path, class: "flex items-center gap-2 text-white hover:text-[var(--color-gold-hover)]" do %>
          <i class=" material-icons text-[var(--color-gold)]">settings</i>
          <%= t("settings") %>
        <% end %>

        <% if I18n.locale == :en %>
          <%= link_to url_for(locale: :pt),
          class: "flex items-center gap-2 text-white hover:text-[var(--color-gold-hover)]" do %>
            <i class="material-icons text-[var(--color-gold)]">language</i>
            Português
          <% end %>
        <% else %>
          <%= link_to url_for(locale: :en),
          class: "flex items-center gap-2 text-white hover:text-[var(--color-gold-hover)]" do %>
            <i class=" material-icons text-[var(--color-gold)]">language</i>
            English
          <% end %>
        <% end %>

        <%= link_to destroy_user_session_path,
            data: { "turbo-method": :delete },
            class: "flex items-center gap-2 text-white hover:text-[var(--color-gold-hover)]" do %>
          <i class=" material-icons text-[var(--color-gold)]">logout</i>
          <%= t("log_out") %>
        <% end %>

        <% if controller_name == "profiles" %>
          <%= render "shared/modal" %>
        <% end %>
      </div>

      <main class="content">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
