<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Billing App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    >

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="toasts" class="fixed top-4 right-4 z-50 w-80 space-y-4">
      <% flash.each do |type, message| %>
        <% 
        # Map Rails flash types to our toast types
        icon_type = case type.to_s
                    when "notice"
                      "info"
                    when "alert"
                      "error"
                    when "warning"
                      "warning"
                    when "success"
                      "success"
                    else
                      "info"
                    end
        %>

        <%= render partial: "shared/toast",
        locals: {
          message: message,
          icon: icon_type,
          show_undo: false
        } %>
      <% end %>
    </div>

    <main>
      <div class="yellow-circle"></div>
      <%= yield %>
    </main>
  </body>
</html>
